<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="./../static/styles/styles.css">

		<title>ABSCH - Contacto</title>
	</head>

	<body>

		<div id="main-container">
			<nav id="navbar">
				<a href="/">
					<img src="/static/images/logo.png" alt="logo" id="site-logo">
				</a>

				<div id="navbar-icons">
					<a href="/" class="icon">
						<img src="/static/images/home.png" alt="home-icon" class="icon">
					</a>

					<a href="/tramites/" class="icon">
						<img src="/static/images/procedures.png" alt="procedures-icon" class="icon">
					</a>

					<a href="/noticias/" class="icon">
						<img src="/static/images/news.png" alt="news-icon" class="icon">
					</a>
				</div>

				<a href="/contacto/" contact="icon">
					<img src="/static/images/contact.png" alt="contact-icon" class="icon">
				</a>
			</nav>

			<main>
				<header>
					<h1 id="page-title">
						<span class="title-decorator"></span>
						Pagina de contacto
						<span class="title-decorator"></span>
					</h1>
				</header>

				<section id="page-content"></section>
			</main>
		</div>
		
		<script src="/static/scripts/script.js"></script>
	</body>
</html>